<section>

  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
      </ng-container>

      <!-- Delete Buttons -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteAxis(element); $event.stopPropagation();">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <!-- <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Weight</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let axis of axes">
        <td>{{axis.name}}</td>
        <td>{{axis.description}}</td>
        <td>{{axis.weight}}</td>
        <td> <button type="button" (click)="deleteAxis(axis); $event.stopPropagation();">Delete</button> </td>
      </tr>
    </tbody>
  </table>
  <hr/> -->
  <app-add-axis (addAxis)="onAddAxis($event)"></app-add-axis>
</section>
