  <mat-card>
    <section class="columns-3-to-1">
      <div class="leftColumn">
        <mat-card-title class="leftColumn">
          <mat-form-field>
            <input name="taskName" type="text" matInput placeholder="Task Name" [(ngModel)]="task.name">
          </mat-form-field>
        </mat-card-title>
      </div>
      <div class="rightColumn">
        <button mat-raised-button color="accent" (click)="addValue()">Add Value</button>
      </div>
    </section>
    <div>
      <mat-card-subtitle>
        {{task.status}}
      </mat-card-subtitle>
    </div>
    <section class="columns-3-to-1">
      <div class="leftColumn">
        <mat-form-field class="task-description">
          <textarea matInput placeholder="Description" [(ngModel)]="task.description" name="taskDesc"></textarea>
        </mat-form-field>
      </div>
      <div class="rightColumn">
        <!-- TODO: Use CSS Flexbox rather than mat-list -->
        <ul class="valuesList">
            <li *ngFor="let val of task.values">
              <app-task-value [availableAxes]="availableAxes" (valueUpdate)="updateValue($event)">Task value component</app-task-value>
            </li>
        </ul>
      </div>
    </section>
    <mat-card-actions>
      <button mat-mini-fab aria-label="save" matTooltip="Done" matTooltipShowDelay="500" matTooltipHideDelay="1000" (click)="saveTask()">
        <mat-icon>save</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
