<p>
  task-list-view works!
</p>
<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>

    <!-- Value Columns -->
    <ng-container *ngFor="let axis of axes" matColumnDef={{axis.name}}>
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{axis.name}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-number-as-stars [howMany]="getAxisValue(element, axis)"></app-number-as-stars>
      </mat-cell>
    </ng-container>

    <!-- Delete Buttons -->
    <!-- <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteAxis(element); $event.stopPropagation();">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
